.content-container header {
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    align-items: center;
    justify-content: space-between;
}

.header.content-container {
    background: linear-gradient(to right, #FF9501, #395281);
}

.nav-bar a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 32px;
    white-space: nowrap;
}

.nav-bar {
    display: flex;
    gap: 120px;
}