<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{asset("styles/header.css")}}">
		<link rel="stylesheet" href="{{asset("styles/base.css")}}">
        <link rel="stylesheet" href="{{asset("styles/home/home.css")}}">
	</head>
	<body>
		{% block body %}
			{% include "header/index.html.twig" %}
			<main>
				<section class="prsntn-section">
                <div class="triangle"></div>
					<p class="prsntn-text">tt Ut enim ad minim veniam, quis nostrud exercitation 
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit 
                    esse cillum dolore eu fugiat nulla pariatur. Excepteur 
                    sint occaecat cupidatat non proident, sunt in culpa qui 
                    officia deserunt mollit anim id est laborum.
                    </p>
				</section>
			</main>
		{% endblock %}
	</body>
</html>
